<div class="field"><span class="hint">Add the specific Circular Dimensions.</span>
  <label>Circular Dimensions</label><br />
</div>
<div class="field">
  <%= f.label :external_diameter  %>
  <%= f.text_field :external_diameter, :title => "External Diameter" %>
</div>
<div class="field">
  <%= f.label :internal_diameter %>
  <%= f.text_field :internal_diameter, :title => "Internal Diameter" %>
</div>
<div class="field">
  <%= f.label :external_height %>
  <%= f.text_field :external_height, :title => "External Height" %>
</div>
<div class="field">
  <%= f.label :internal_height %>
  <%= f.text_field :internal_height, :title => "Internal Height" %>
</div>