<p>Add the specific Cubic Dimensions.</p>
<div class="field">
  <%= f.label :external_length %>
  <%= f.text_field :external_length, :title => "External Length" %>
</div>
<div class="field">
  <%= f.label :internal_length %>
  <%= f.text_field :internal_length, :title => "Internal Length" %>
</div>
<div class="field">
  <%= f.label :external_width %>
  <%= f.text_field :external_width, :title => "External Width" %>
</div>
<div class="field">
  <%= f.label :internal_width %>
  <%= f.text_field :internal_width, :title => "Internal Width" %>
</div>
<div class="field">
  <%= f.label :external_height %>
  <%= f.text_field :external_height, :title => "External Height" %>
</div>
<div class="field">
  <%= f.label :internal_height %>
  <%= f.text_field :internal_height, :title => "Internal Height" %>
</div>
<div class="field">
  <%= f.label :door_opening_width %>
  <%= f.text_field :door_opening_width, :title => "Door Opening Width" %>
</div>
<div class="field">
  <%= f.label :door_opening_height %>
  <%= f.text_field :door_opening_height, :title => "Door Opening Height" %>
</div>
