<div class="field"><span class="hint">Add the specific Drum Dimensions.</span>
  <label>Drum Dimensions</label><br />
</div>
<div class="field">
  <%= f.label :top_diameter_external  %>
  <%= f.text_field :top_diameter_external, :title => "Top Diameter External" %>
</div>
<div class="field">
  <%= f.label :top_diameter_internal %>
  <%= f.text_field :top_diameter_internal, :title => "Top Diameter Internal" %>
</div>
<div class="field">
  <%= f.label :bottem_diameter_external  %>
  <%= f.text_field :bottem_diameter_external, :title => "Bottem Diameter External" %>
</div>
<div class="field">
  <%= f.label :bottem_diameter_internal %>
  <%= f.text_field :bottem_diameter_internal, :title => "Bottem Diameter Internal" %>
</div>
<div class="field">
  <%= f.label :height_internal  %>
  <%= f.text_field :height_internal, :title => "Height internal" %>
</div>
<div class="field">
  <%= f.label :height_external %>
  <%= f.text_field :height_external, :title => "Height External" %>
</div>