  <div class="field"><span class="hint">Add the specific Flexible Dimensions.</span>
    <label>Flexible Dimensions</label><br />
  </div>
  <div class="field">
  <%= f.label :length  %>
  <%= f.text_field :length, :title => "Length" %>
  </div>
  <div class="field">
  <%= f.label :width %>
  <%= f.text_field :width, :title => "Width" %>
  </div>
  <div class="field">
  <%= f.label :height  %>
  <%= f.text_field :height, :title => "Height" %>
  </div>
  <div class="field">
  <%= f.label :absorbs %>
  <%= f.text_field :absorbs, :title => "Absorbs" %>
  </div>