<%= form_for([:admin, @item], :html => { :multipart => true }) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%#= f.fields_for :node do |node_f| %>
    <%#= node_f.hidden_field :displayed, :value => true %>
  <%# end %>

  <fieldset class="tab">
    <legend>Categorize</legend>
    <p>Optionally add this product to multiple categories.</p>
    <% f.fields_for :item_categories do |ic_form| %>
      <%= render :partial => 'item_category', :locals => { :f => ic_form } %>
    <% end %>
    <%= new_child_fields_template(f, :item_categories)%>
    <div class="field"><label></label><%= add_child_link "Add Category", :item_categories %></div>
  </fieldset>

  <fieldset class="tab">
    <legend>Item Images</legend>
    <p>Manage images for this product.</p>
    <div class="field">
      <label></label>
      <% f.fields_for :product_images do |img_form| %>
        <%= render :partial => 'product_image', :locals => { :f => img_form } %>
      <% end %>
      <%= new_child_fields_template(f, :product_images)%>
    </div>
    <div class="field">
      <label></label>
      <%= add_child_link "Add Product Image", :product_images %>
    </div>
  </fieldset>

  <fieldset>
    <div class="field"><span class="hint">Be sure to enter a unique Item Name.</span>
      <%= f.label :name, "Item Name", :class => "req" %>
      <%= f.text_field :name, :title => "Item Name", :class => "twothirds" %>
      <%= f.text_field :part_number, :title => 'Part #', :class => "third" %>
    </div>
    <div class="field">
      <%= f.label :short_description %>
      <%= f.text_field :short_description,  :title => "Short Description" %>
    </div>
    <div class="field">
      <%= f.label :long_description %>
      <%= f.text_area :long_description, :width=>'800px', :height=>'400px', :title => "Long Description" %>
    </div>
    <div class="field">
      <%= f.label :cost, "Price" %>
      <% val = (!@item.cost.nil? and @item.cost > 0) ? @item.cost : "0.00"  %>
      $ <%= f.text_field :cost, :class => "third", :value => val  %>
    </div>
    <div class="field">
      <%= f.label :for_sale, "Item Options" %>
      <%= f.check_box :for_sale %> List item for sale?
    </div>
    <div class="field">
      <%= f.label :display, raw('&nbsp') %>
      <%= f.check_box :display %> Display publicly?
    </div>
  </fieldset>

  <fieldset class="tab">
    <legend>Basic Item Attributes</legend>
    <div class="field">
      <%= f.label :weight %>
      <%= f.text_field :weight, :title => "Weight" %>
    </div>
    <div class="field">
      <%= f.label :handling_capacity, "Load Capacity" %>
      <%= f.text_field :handling_capacity, :title => "Load Capacity" %>
    </div>
    <div class="field">
      <%= f.label :sump_capacity, "Spill Capacity" %>
      <%= f.text_field :sump_capacity, :title => "Spill Capacitys" %>
    </div>
    <div class="field">
      <%= f.label :p_length, 'Dimensions' %>
      <%= f.text_field :p_length, :title => "Length", :class => "third" %>
      x <%= f.text_field :p_width, :title => "Width", :class => "third" %>
      x <%= f.text_field :p_height, :title => "Height", :class => "third" %>
    </div>
    <div class="field">
      <%= f.label :regulations %>
      <%= f.text_area :regulations, :title => "Regulations" %>
    </div>
  </fieldset>







  <fieldset class="tab">
    <legend>Specific Item Attributes.</legend>
    <div class="field">
      <label>Dimension Type</label>
      <%= f.select :dimension_type, options_for_select(Item.dimension_types, f.object.dimension_type || 'N/A'), {}, :class => 'DynamicFieldsSelector' %>
    </div>

    <div class="AdjustableFields DynamicFields">
      <%= f.fields_for :adjustable_dimension, f.object.adjustable_dimension || f.object.build_adjustable_dimension do |dimension_f| %>
        <%= render :partial => 'adjustable_dimension', :locals => { :f => dimension_f } %>
      <% end %>
    </div>
    <div class="CircularFields DynamicFields">
      <%= f.fields_for :circular_dimension, f.object.circular_dimension || f.object.build_circular_dimension do |dimension_f| %>
        <%= render :partial => 'circular_dimension', :locals => { :f => dimension_f } %>
      <% end %>
    </div>
    <div class="CubeFields DynamicFields">
      <%= f.fields_for :cube_dimension, f.object.cube_dimension || f.object.build_cube_dimension do |dimension_f| %>
        <%= render :partial => 'cube_dimension', :locals => { :f => dimension_f } %>
      <% end %>
    </div>
    <div class="DrumFields DynamicFields">
      <%= f.fields_for :drum_dimension, f.object.drum_dimension || f.object.build_drum_dimension do |dimension_f| %>
        <%= render :partial => 'drum_dimension', :locals => { :f => dimension_f } %>
      <% end %>
    </div>
    <div class="FlexibleFields DynamicFields">
      <%= f.fields_for :flexible_dimension, f.object.flexible_dimension || f.object.build_flexible_dimension do |dimension_f| %>
        <%= render :partial => 'flexible_dimension', :locals => { :f => dimension_f } %>
      <% end %>
    </div>
    <div class="FunnelFields DynamicFields">
      <%= f.fields_for :funnel_dimension, f.object.funnel_dimension || f.object.build_funnel_dimension do |dimension_f| %>
        <%= render :partial => 'funnel_dimension', :locals => { :f => dimension_f } %>
      <% end %>
    </div>
    <div class="PoolFields DynamicFields">
      <%= f.fields_for :pool_dimension, f.object.pool_dimension || f.object.build_pool_dimension do |dimension_f| %>
        <%= render :partial => 'pool_dimension', :locals => { :f => dimension_f } %>
      <% end %>
    </div>
    <div class="StandardFields DynamicFields">
      <%= f.fields_for :standard_dimension, f.object.standard_dimension || f.object.build_standard_dimension do |dimension_f| %>
        <%= render :partial => 'standard_dimension', :locals => { :f => dimension_f } %>
      <% end %>
    </div>
    <div class="SorbentFields DynamicFields">
      <%= f.fields_for :sorbent_dimension, f.object.sorbent_dimension || f.object.build_sorbent_dimension do |dimension_f| %>
        <%= render :partial => 'sorbent_dimension', :locals => { :f => dimension_f } %>
      <% end %>
    </div>
  </fieldset>

  <fieldset class="tab">
    <legend>Product Options</legend>
    <p>Optionally specify any products that are additional options.</p>
    <% f.fields_for :product_options do |po_form| %>
      <%= render :partial => 'product_option', :locals => { :f => po_form } %>
    <% end %>
    <%= new_child_fields_template(f, :product_options)%>
    <div class="field"><label></label><%= add_child_link "Add Product Option", :product_options %></div>
  </fieldset>

  <!--fieldset class="tab">
    <legend>Similar Products</legend>
    <p>Optionally specify any products that are similar to this product, only varying in dimension.<br/>
    Select 'Omit' if you wish to just display the similar product's name.</p>
    <%# f.fields_for :similar_items do |si_form| %>
      <%#= render :partial => 'similar_item', :locals => { :f => si_form } %>
    <%# end %>
    <%#= new_child_fields_template(f, :similar_items)%>
    <div class="field"><label></label><%#= add_child_link "Add Similar Product", :similar_items %></div>
  </fieldset-->

  <fieldset class="tab">
    <legend>Product Files</legend>
    <p>Manage files for this product.</p>
    <div class="field">
      <label></label>
      <% f.fields_for :product_files do |file_form| %>
        <%= render :partial => 'product_file', :locals => { :f => file_form } %>
      <% end %>
      <%= new_child_fields_template(f, :product_files)%>
    </div>
    <div class="field">
      <label></label>
      <%= add_child_link "Add Product File", :product_files %>
    </div>
  </fieldset>


  <fieldset>
    <%= render :partial => 'admin/submit', :locals => {:f => f, :type => 'Item'} %>
  </fieldset>
<% end %>

