<%= form_for([:admin, @item], :html => { :multipart => true }) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.fields_for :node do |node_f| %>
    <%= node_f.hidden_field :displayed, :value => true %>
  <% end %>

  <fieldset>
    <div class="field"><span class="hint">Add This product to multiple Inventory Categories.</span>
      <label>Categorize</label><br />
    </div>
    <% f.fields_for :item_categories do |ic_form| %>
      <%= render :partial => 'item_category', :locals => { :f => ic_form } %>
    <% end %>
    <%= new_child_fields_template(f, :item_categories)%>
    <div class="field"><label></label><%= add_child_link "Add Category", :item_categories %></div>

    <hr />

    <div class="field"><span class="hint">Be sure to enter a unique item ID.</span>
      <%= f.label :name, "Item Name", :class => "req" %>
      <%= f.text_field :name, :title => "Item Name" %>
      <%= f.text_field :item_id, :title => "Part ID", :style => "width: 100px;" %>
    </div>
    <div class="field">
      <%= f.label :short_description %>
      <%= f.text_field :short_description, :title => "Short Description" %>
    </div>
    <div class="field">
      <%= f.label :long_description %>
      <%= f.text_area :long_description, :title => "Long Description" %>
    </div>
    <hr />

    <div class="field">
      <%= f.label :cost, "Price" %>
      <% val = (@item.cost > 0) ? @item.cost : "0.00"  %>
      $ <%= f.text_field :cost, :style => "width: 70px;", :title => val, :value => val %>
    </div>
    <hr />

    <div class="field"><span class="hint">Basic Item Attributes.</span>
      <%= f.label :weight %>
      <%= f.text_field :weight, :title => "Weight" %>
    </div>
    <div class="field">
      <%= f.label :handling_capacity %>
      <%= f.text_field :handling_capacity, :title => "Handling Capacity" %>
    </div>
    <div class="field">
      <%= f.label :sump_capacity %>
      <%= f.text_field :sump_capacity, :title => "Sump Capacity" %>
    </div>
    <div class="field">
      <%= f.label :p_length, 'Length' %> x <%= f.label :p_width, 'Width' %> x <%= f.label :p_height, 'Height' %> <br/>
      <%= f.text_field :p_length, :title => "Length" %> x <%= f.text_field :p_width, :title => "Width" %> x <%= f.text_field :p_height, :title => "Height" %>
    </div>

    <div class="field"><span class="hint">Specific Item Attributes.</span>
      <%= f.select :dimension_type, options_for_select(Item.dimension_types, f.object.new_record? ? 'N/A' : f.object.dimension_type), :class => 'DynamicFieldsSelector' %>
    </div>

    <div class="AdjustableFields DynamicFields"><%= f.fields_for :adjustable_dimension, f.object.adjustable_dimension || f.object.build_adjustable_dimension do |dimension_f| %><%= render :partial => 'adjustable_dimension', :locals => { :f => dimension_f } %><% end %></div>
    <div class="CircularFields DynamicFields"><%= f.fields_for :circular_dimension, f.object.circular_dimension || f.object.build_circular_dimension do |dimension_f| %><%= render :partial => 'circular_dimension', :locals => { :f => dimension_f } %><% end %></div>
    <div class="CubeFields DynamicFields"><%= f.fields_for :cube_dimension, f.object.cube_dimension || f.object.build_cube_dimension do |dimension_f| %><%= render :partial => 'cube_dimension', :locals => { :f => dimension_f } %><% end %></div>
    <div class="DrumFields DynamicFields"><%= f.fields_for :drum_dimension, f.object.drum_dimension || f.object.build_drum_dimension do |dimension_f| %><%= render :partial => 'drum_dimension', :locals => { :f => dimension_f } %><% end %></div>
    <div class="FlexibleFields DynamicFields"><%= f.fields_for :flexible_dimension, f.object.flexible_dimension || f.object.build_flexible_dimension do |dimension_f| %><%= render :partial => 'flexible_dimension', :locals => { :f => dimension_f } %><% end %></div>
    <div class="FunnelFields DynamicFields"><%= f.fields_for :funnel_dimension, f.object.funnel_dimension || f.object.build_funnel_dimension do |dimension_f| %><%= render :partial => 'funnel_dimension', :locals => { :f => dimension_f } %><% end %></div>
    <div class="PoolFields DynamicFields"><%= f.fields_for :pool_dimension, f.object.pool_dimension || f.object.build_pool_dimension do |dimension_f| %><%= render :partial => 'pool_dimension', :locals => { :f => dimension_f } %><% end %></div>
    <div class="StandardFields DynamicFields"><%= f.fields_for :standard_dimension, f.object.standard_dimension || f.object.build_standard_dimension do |dimension_f| %><%= render :partial => 'standard_dimension', :locals => { :f => dimension_f } %><% end %></div>
    <div class="SorbentFields DynamicFields"><%= f.fields_for :sorbent_dimension, f.object.sorbent_dimension || f.object.build_sorbent_dimension do |dimension_f| %><%= render :partial => 'sorbent_dimension', :locals => { :f => dimension_f } %><% end %></div>

    <hr />

    <div class="field">
      <%= f.label :for_sale, "Item Options" %>
      <%= f.check_box :for_sale %> List item for sale?
    </div>
    <div class="field">
      <%= f.label :display, raw('&nbsp') %>
      <%= f.check_box :display %> Display publicly?
    </div>
    <hr />

    <div class="field"><span class="hint">Manage images for this product.</span>
      <label>Images</label>
    </div>
    <% f.fields_for :product_images do |img_form| %>
      <%= render :partial => 'product_image', :locals => { :f => img_form } %>
    <% end %>
    <%= new_child_fields_template(f, :product_images)%>
    <div class="field"><label></label><%= add_child_link "Add Product Image", :product_images %></div>
    <hr />

    <%= render :partial => 'admin/submit', :locals => {:f => f, :type => 'Item'} %>
  </fieldset>
<% end %>
