<div class="field"><span class="hint">Add the specific Funnel Dimensions.</span>
      <label>Funnel Dimensions</label><br />
    </div>
  <div class="field">
  <%= f.label :top_external_diameter  %>
  <%= f.text_field :top_external_diameter, :title => "Top Diameter External" %>
  </div>
  <div class="field">
  <%= f.label :top_internal_diameter %>
  <%= f.text_field :top_internal_diameter, :title => "Top Diameter Internal" %>
  </div>
  <div class="field">
  <%= f.label :bottem_external_diameter  %>
  <%= f.text_field :bottem_external_diameter, :title => "Bottem Diameter External" %>
  </div>
  <div class="field">
  <%= f.label :bottem_internal_diameter %>
  <%= f.text_field :bottem_internal_diameter, :title => "Bottem Diameter Internal" %>
  </div>
  <div class="field">
  <%= f.label :internal_height  %>
  <%= f.text_field :internal_height, :title => "Height internal" %>
  </div>
  <div class="field">
  <%= f.label :external_height %>
  <%= f.text_field :external_height, :title => "Height External" %>
  </div>