<div class="field"><span class="hint">Add the specific Pool Dimensions.</span>
      <label>Pool Dimensions</label><br />
    </div>
  <div class="field">
  <%= f.label :top_diameter  %>
  <%= f.text_field :top_diameter, :title => "Top Diameter" %>
  </div>
  <div class="field">
  <%= f.label :bottem_diameter  %>
  <%= f.text_field :bottem_diameter, :title => "Bottem Diameter" %>
  </div>
  <div class="field">
  <%= f.label :height  %>
  <%= f.text_field :height, :title => "Height" %>
  </div>