<div class="field"><span class="hint">Add the specific Sorbent Dimensions.</span>
      <label>Sorbent Dimensions</label><br />
    </div>
  <div class="field">
  <%= f.label :diameter  %>
  <%= f.text_field :diameter, :title => "Diameter" %>
  </div>
  <div class="field">
  <%= f.label :length %>
  <%= f.text_field :length, :title => "Length" %>
  </div>
  <div class="field">
  <%= f.label :width  %>
  <%= f.text_field :width, :title => "Width" %>
  </div>
  <div class="field">
  <%= f.label :height %>
  <%= f.text_field :height, :title => "Height" %>
  </div>
  <div class="field">
  <%= f.label :class_category  %>
  <%= f.text_field :class_category, :title => "Class" %>
  </div>
  <div class="field">
  <%= f.label :type %>
  <%= f.text_field :type, :title => "Type" %>
  </div>
  <div class="field">
  <%= f.label :absorbs  %>
  <%= f.text_field :absorbs, :title => "Absorbs" %>
  </div>
  <div class="field">
  <%= f.label :quantity %>
  <%= f.text_field :quantity, :title => "Quantity" %>
  </div>


  <!-- Capabilities -->
  <div class="field">
    <%= f.label :capabilities %>
    <%= f.text_field :capabilities, :title => "Capabilities" %>
  </div>