<div class="field"><span class="hint">Add the specific Standard Dimensions.</span>
  <label>Standard Dimensions</label><br />
</div>
<div class="field">
  <%= f.label :length %>
  <%= f.text_field :length, :title => "Length" %>
</div>
<div class="field">
  <%= f.label :width  %>
  <%= f.text_field :width, :title => "Width" %>
</div>
<div class="field">
  <%= f.label :height %>
  <%= f.text_field :height, :title => "Height" %>
</div>
<div class="field">
  <%= f.label :with_handle_length  %>
  <%= f.text_field :with_handle_length, :title => "Length: Including Handle" %>
</div>
<div class="field">
  <%= f.label :with_handle_width %>
  <%= f.text_field :with_handle_width, :title => "Width: Including Handle" %>
</div>
<div class="field">
  <%= f.label :with_handle_height  %>
  <%= f.text_field :with_handle_height, :title => "Height: Including Handle" %>
</div>