
<div id="body">
  <div id="wrapper">

    <%= render 'partials/nav_menu' %>
    <%= render 'partials/header' %>

    <section id="content" class="cf">
      <div class="search">
        <form>
          <label for="searchText">Search</label>
          <input type="text" name="searchText" id="searchText" maxlength="255" class="searchInput" />
          <input type="submit" name="searchSubmit" id="searchSubmit" value="GO" class="searchButton" />
        </form>
      </div>
      <div id="featuredColumn">
      </div>

      <div id="topBorder"></div>
      <div id="contentContainer" class="cf">
        <section id="mainColumn" class="contents">
          <%= yield :breadcrumb %>
          <%= yield %>
        </section>
      </div>
      <div id="bottomBorder"></div>
    </section>

    <%= render 'partials/footer' %>
  </div>
</div>
