<% unless dimension.round_max_diameter.empty? %> <p id="adjustable-round-max-diameter" class="cm-in"><%= dimension.round_max_diameter%></p><% end %>
<% unless dimension.round_min_diameter.empty? %> <p id="adjustable-round-min-diameter" class="cm-in"><%= dimension.round_min_diameter%></p><% end %>
<% unless dimension.rectangular_max_length.empty? %> <p id="adjustable-rectangular-max-length" class="cm-in"><%= dimension.rectangular_max_length%></p><% end %>
<% unless dimension.rectangular_min_length.empty? %> <p id="adjustable-rectangular-min-length" class="cm-in"><%= dimension.rectangular_min_length%></p><% end %>
<% unless dimension.rectangular_max_width.empty? %> <p id="adjustable-rectangular-max-width" class="cm-in"><%= dimension.rectangular_max_width%></p><% end %>
<% unless dimension.rectangular_min_width.empty? %> <p id="adjustable-rectangular-min-width" class="cm-in"><%= dimension.rectangular_min_width%></p><% end %>
<% unless dimension.overflow_rate.empty? %> <p id="adjustable-overflow-rate" class="lpm-gpm"><%= dimension.overflow_rate%></p><% end %>