<% @item ||= @node.page_type == 'ItemCategory' ? @node.page.item : @node.page
@parent_category = (@node.page_type == 'ItemCategory' ? @node.page.category : (@item.categories.empty? ? nil : @item.categories.first)) %>

<% if admin? %>
  <% content_for :page_admin_bar do %>
    <%= link_to 'Delete', admin_item_path(@item) , :confirm => "Are you sure?", :method => :delete, :class => 'btn large' %>
    <%= link_to 'Duplicate', new_admin_item_path(:dup_id => @item.id), :class => "btn large" %>
    <%= link_to 'Edit', edit_admin_item_path(@item), :class => 'btn large' %>
  <% end %>
<% end %>

<h1><%= @parent_category.nil? ? 'Products' : @parent_category.title %></h1>
<hr />

<section id="productMenu">
  <%# if content_for?(:subMenu) %>
    <%# yield :subMenu %>
  <%# else %>
    <%= render "partials/side_nav" %>
  <%# end %>
</section>

<% if VIEW_FRAGMENT_CACHING %>
  <%= cache("#{@item.cache_key}::items/show") do %>
    <%= render "items/item" %>
  <% end %>
<% else %>
  <%= render "items/item" %>
<% end %>

<!-- Content_for components to insert into static_page -->
<%= content_for :breadcrumb do %>
  <%= render 'partials/breadcrumb' %>
<% end %>


<% content_for :page_title do %>
  <%= @node.title %>
<% end %>
<!-- End -->

