<% @item = @node.page %>
<% if admin? %>
  <% content_for :page_admin_bar do %>
    <%= link_to 'Delete Item', admin_item_path(@item) , :confirm => "Are you sure?", :method => :delete, :class => 'btn large' %>
    <%= link_to 'Edit Item', edit_admin_item_path(@item), :class => 'btn large' %>
  <% end %>
<% end %>

<article class="item">
  <h1 class="title"><%= @node.title %></h1>
  <div class="product">

    <div class="left">
      <%= link_to image_tag(@item.main_image ? @item.main_image.full_size_image : "no_image_full_size.gif"), shortcut_path(@node.shortcut) %>
      <% if @item.product_images %>
        <% @item.product_images.each do |product_image| %>
          <div class="thumb">
            <%= link_to (image_tag product_image.preview_image), product_image.original_image, :rel => 'group1', :class => 'gallery' %><br />
    <%#= (product_image.id == @item.product_images[0].id) ? "Obverse" : "" %>
    <%#= (@item.product_images[1] and (product_image.id == @item.product_images[1].id)) ? "Reverse" : "" %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="right">
      <h3 id="item-name"><%= @item.name %></h3>
      <p id="item-short-description"><%=raw @item.short_description %></p>
      <p id="item-long-description"><%=raw @item.long_description %></p>
      <p id="item-cost"><%= number_to_currency(@item.cost) %></p>
      <p id="item-regulations"><%= @item.part_number%></p>
      <p id="item-part-number"><%= @item.regulations%></p>
      <% if @item.for_sale %>
  <%#= link_to 'Add To Cart', "https://KERN-Coin.foxycart.com/cart?quantity_max=1&name=#{@item.name}&price=#{@item.cost}&item-id=#{@item.name}", :class => 'foxycart add-to-cart btn large yellow' %>
        <p><strong>To order, call (859)-269-1614</strong></p>
      <% else %>
        <p><strong>Out of stock</strong></p>
      <% end %>
      <div class="item-dimensions">
        <%= item_tag_for('item','weight',@item.weight) %>
        <%= item_tag_for('item','handling_capacity',@item.handling_capacity) %>
        <%= item_tag_for('item','sump_capacity',@item.sump_capacity) %>
        <%= item_tag_for('item','length',@item.p_length) %>
        <%= item_tag_for('item','height',@item.p_height) %>
        <%= item_tag_for('item','width',@item.p_width) %>

        <!-- Specific Dimensions -->
        <%= render :partial => 'items/adjustable_dimension', :locals => {:dimension => @item.adjustable_dimension} if @item.dimension_type == 'Adjustable' %>
        <%= render :partial => 'items/circular_dimension', :locals => {:dimension => @item.circular_dimension} if @item.dimension_type == 'Circular' %>
        <%= render :partial => 'items/cube_dimension', :locals => {:dimension => @item.cube_dimension} if @item.dimension_type == 'Cube' %>
        <%= render :partial => 'items/drum_dimension', :locals => {:dimension => @item.drum_dimension} if @item.dimension_type == 'Drum' %>
        <%= render :partial => 'items/flexible_dimension', :locals => {:dimension => @item.flexible_dimension} if @item.dimension_type == 'Flexible' %>
        <%= render :partial => 'items/funnel_dimension', :locals => {:dimension => @item.funnel_dimension} if @item.dimension_type == 'Funnel' %>
        <%= render :partial => 'items/pool_dimension', :locals => {:dimension => @item.pool_dimension} if @item.dimension_type == 'Pool' %>
        <%= render :partial => 'items/sorbent_dimension', :locals => {:dimension => @item.sorbent_dimension} if @item.dimension_type == 'Sorbent' %>
        <%= render :partial => 'items/standard_dimension', :locals => {:dimension => @item.standard_dimension} if @item.dimension_type == 'Standard' %>

      </div>

      <div class="item-options">
        <% @item.product_options.each do |product_option| %>
          <%= content_tag_for :div, product_option do %>
            <%= product_option.description || 'Item Option' %> (Part #: <%=link_to product_option.option_item.part_number, shortcut_path(product_option.option_item.node.shortcut) %>)
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</article>


<!-- Content_for components to insert into static_page -->
<%= content_for :subColumn do %>
  <h3><%= @node.menu_name %></h3>
  <div id="categorySub">
    <%= render_navigation(:level => 2..10) %>
  </div>
<% end %>

<!-- Content_for components to insert into static_page -->
<%= content_for :breadcrumb do %>
  <%= render :partial => 'partials/breadcrumb' %>
<% end %>


<% content_for :page_title do %>
  <%= @node.title %>
<% end %>
<!-- End -->
