<%= content_for :breadcrumb do %>
  <%= render 'partials/inventory_breadcrumb' %>
<% end %>
<% content_for :body_class do %>oneColumn<% end %>
<% content_for :page_title do %>Products<% end %>

<h1 class="title">Products</h1>


<% unless @items_search.hits.empty? %>
  <table>
    <tr>
      <th></th>
      <th><%= sortable "name", "Item Name", inventory_search_parameters %></th>
      <th><%= sortable "part_number", 'Part #', inventory_search_parameters %></th>
      <th><%= sortable "cost", "Price", inventory_search_parameters %></th>
    </tr>
    <% @items_search.each_hit_with_result do |hit, item| %>
      <% if item.node %>
        <tr>
          <td class="itemThumb"> <%= link_to(image_tag(item.thumbnail_image), shortcut_path(item.node.shortcut))  %> </td>
          <td><%= item.name %></td>
          <td><%= link_to item.part_number, shortcut_path(item.node.shortcut) %></td>
          <td><%= number_to_currency(item.cost) %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <hr/>
  <div class="pagination"><%= will_paginate @items_search.hits %></div>


<% else %>
  <p>No items matched your search.</p>
<% end %>


<!-- Content_for components to insert into static_page -->
<%= content_for :subColumn do %>
<% end %>
<!-- End -->

