<h1 class="title">Items</h1>



<% unless @items.empty? %>
  <table>
    <tr>
      <th></th>
      <th><%= sortable "item_id", "Item ID", inventory_search_parameters %></th>
      <th><%= sortable "name", "Name", inventory_search_parameters %></th>
      <th><%= sortable "cost", "Price", inventory_search_parameters %></th>
    </tr>
    <% @items.each do |item| %>
      <% if item.node %>
        <tr>
          <td class="itemThumb"> <%= link_to(image_tag(item.thumbnail_image), shortcut_path(item.node.shortcut))  %> </td>
          <td><%= item.item_id %></td>
          <td><%= link_to item.name, shortcut_path(item.node.shortcut) %></td>
          <td><%= number_to_currency(item.cost) %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <hr/>
  <div class="pagination"><%= will_paginate @items %></div>

<% else %>
  <p>No items matched your search.</p>
<% end %>

<!-- Content_for components to insert into static_page -->
<%= content_for :subColumn do %>
  <h3>Your Search Parameters:</h3>
  <ul>
    <% unless params[:search_text].blank? %> <li><strong>Search Text:</strong><br/> "<%= params[:search_text] %>"</li> <% end %>
    <% unless params[:category].blank? %> <li><strong>Under Category:</strong><br/> <%= params[:category] %></li> <% end %>
    <% unless params[:cost_range].blank? %> <li><strong>Price Range:</strong><br/> $<%= params[:cost_range] %></li> <% end %>
  </ul>
<% end %>

<%= content_for :breadcrumb do %>
  <%= render 'site_partials/inventory_breadcrumb' %>
<% end %>

<% content_for :page_title do %>
  Search Results
<% end %>
<!-- End -->
