
<% @category = @node.category  %>

<h1><%= @category ? @category.title : 'Categories' %></h1>
<hr />


<section id="productMenu">
  <% if content_for?(:subMenu) %>
    <% yield :subMenu %>
  <% else %>
    <%= render_navigation(:level => 2..7) %>
  <% end %>
</section>


<section id="products">
<p><%= @category ? @category.description : '' %></p>


<% if @category and not @category.sub_categories.empty? %>
  <ul class="categoryList">
    <% @category.sub_categories.each do |category|%>
      <%= content_tag_for :li, category do %>
        <p class="title"><%= link_to category.title, shortcut_path(category.node.shortcut) %></p>
        <div class="thumbnail"> <%= link_to image_tag(category.thumbnail_image ? category.thumbnail_image : "no_image_thumb.gif"), shortcut_path(category.node.shortcut) %> </div>
      <% end %>
    <% end %>
  </ul>
  <hr/>
<% end %>

<% if @category and not @category.items.displayed.empty? %>
  <ul class="itemList">
    <% @category.item_categories.each do |item_category|%>
      <% if item_category.item.display %>
        <%= content_tag_for :li, item_category.item do %>
          <p class="title"><%= link_to item_category.item.name, shortcut_path(item_category.node.shortcut) %></p>
          <div class="thumbnail"> <%= link_to image_tag(item_category.item.thumbnail_image ? item_category.item.thumbnail_image : "no_image_thumb.gif"), shortcut_path(item_category.node.shortcut) %> </div>
          <!--p class="cost"><%= number_to_currency(item_category.item.cost) %></p-->
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <hr/>
<% end %>
</section>




<%= content_for :breadcrumb do %>
  <%= render :partial => 'partials/breadcrumb' %>
<% end %>


<% content_for :page_title do %>
  <%= @node.title %>
<% end %>
<!-- End -->

