
<% @category = @node.category  %>

<h1><%= @category ? @category.title : 'Categories' %></h1>
<hr />


<section id="productMenu">
  <% if content_for?(:subMenu) %>
    <% yield :subMenu %>
  <% else %>
    <%= render_navigation(:level => 2..7) %>
  <% end %>
</section>


<section id="products">
<p><%= @category ? @category.description : '' %></p>


<% if @node.cached_displayed_category_children.empty? %>
  <ul class="categoryList">
    <% @node.cached_displayed_category_children.each do |category_node|%>
      <% if category_node.category %>
        <%= content_tag_for :li, category_node.category do %>
          <p class="title"><%= link_to category_node.category.title, shortcut_path(category_node.shortcut) %></p>
          <div class="thumbnail"> <%= link_to image_tag(category_node.category.thumbnail_image ? category_node.category.thumbnail_image : "no_image_thumb.gif"), shortcut_path(category_node.shortcut) %> </div>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <hr/>
<% end %>

<% unless @node.cached_displayed_item_children.empty? %>
  <ul class="itemList">
    <% @node.cached_displayed_item_children.each do |item_node|%>
      <% if item_node.page.item %>
        <%= content_tag_for :li, item_node.page.item do %>
          <p class="title"><%= link_to item_node.page.item.name, shortcut_path(item_node.shortcut) %></p>
          <div class="thumbnail"> <%= link_to image_tag(item_node.page.item.thumbnail_image ? item_node.page.item.thumbnail_image : "no_image_thumb.gif"), shortcut_path(item_node.shortcut) %> </div>
          <!--p class="cost"><%= number_to_currency(item_node.page.item.cost) %></p-->
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <hr/>
<% end %>
</section>




<%= content_for :breadcrumb do %>
  <%= render :partial => 'partials/breadcrumb' %>
<% end %>


<% content_for :page_title do %>
  <%= @node.title %>
<% end %>
<!-- End -->

