<!DOCTYPE html>
<html>
  <head>
    <%= render 'partials/head' %>

    <!-- Extra markup for admin pages -->
    <%= stylesheet_link_tag 'admin' %>

    <%= yield :head %>
  </head>

  <body id="adminPage" class="oneColumn">
    <% if admin? %><%= render 'partials/page_admin' %><% end %>
    <div id="body">
      <div id="wrapper">
      
	<%= render 'partials/nav_menu' %>
	<%= render 'partials/header' %>

    <section id="content" class="cf">
      <div class="search">
      </div>
      <div id="featuredColumn">
      </div>

      <div id="topBorder"></div>
      <div id="contentContainer" class="cf">
        <section id="mainColumn" class="contents">
          <%= yield :breadcrumb %>
          <%= yield %>
        </section>
      </div>
      <div id="bottomBorder"></div>
    </section>

	<%= render 'partials/footer' %>

      </div>
    </div>
    <%= render 'partials/foot' %>

    <!-- Extra scripting for admin pages -->
    <%= javascript_include_tag 'admin.js'  %>
  </body>
</html>
