<!DOCTYPE html>
<html>
  <head>
    <%= render 'partials/head' %>
    <%= yield :head %>
  </head>

  <body id="<%= content_for?(:body_id) ? yield(:body_id) : 'secPage' %>" 
	class="<%= content_for?(:body_class) ? yield(:body_class) : 'twoColumn' %>">

    <% if admin? %><%= render 'partials/page_admin' %><% end %>

    <%= render :file => "#{Rails.root.to_s}/public/#{subdomain}/static.html.erb" %>

    <%= render 'partials/foot' %>
  </body>
</html>
